<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="New Rule Set" Description=" " ToolsVersion="16.0">
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp" RuleNamespace="Microsoft.CodeAnalysis.CSharp">
    <Rule Id="CS8019" Action="Warning" />
    <Rule Id="CS8020" Action="Warning" />
    <Rule Id="CS8040" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.Features" RuleNamespace="Microsoft.CodeAnalysis.CSharp.Features">
    <Rule Id="IDE0001" Action="Warning" />
    <Rule Id="IDE0002" Action="Warning" />
    <Rule Id="IDE0003" Action="Warning" />
    <Rule Id="IDE0003WithoutSuggestion" Action="Warning" />
    <Rule Id="IDE0004" Action="Warning" />
    <Rule Id="IDE0004WithoutSuggestion" Action="Warning" />
    <Rule Id="IDE0005" Action="Warning" />
    <Rule Id="IDE0007" Action="Warning" />
    <Rule Id="IDE0007WithoutSuggestion" Action="Warning" />
    <Rule Id="IDE0008" Action="Warning" />
    <Rule Id="IDE0008WithoutSuggestion" Action="Warning" />
    <Rule Id="IDE0009" Action="Warning" />
    <Rule Id="IDE0009WithoutSuggestion" Action="Warning" />
    <Rule Id="IDE0011" Action="Warning" />
    <Rule Id="IDE0011WithoutSuggestion" Action="Warning" />
    <Rule Id="IDE0016" Action="Warning" />
    <Rule Id="IDE0016WithoutSuggestion" Action="Warning" />
    <Rule Id="IDE0017" Action="Warning" />
    <Rule Id="IDE0017WithoutSuggestion" Action="Warning" />
    <Rule Id="IDE0018" Action="Warning" />
    <Rule Id="IDE0018WithoutSuggestion" Action="Warning" />
    <Rule Id="IDE0019" Action="Warning" />
    <Rule Id="IDE0019WithoutSuggestion" Action="Warning" />
    <Rule Id="IDE0020" Action="Warning" />
    <Rule Id="IDE0020WithoutSuggestion" Action="Warning" />
    <Rule Id="IDE0021" Action="Warning" />
    <Rule Id="IDE0022" Action="Warning" />
    <Rule Id="IDE0023" Action="Warning" />
    <Rule Id="IDE0024" Action="Warning" />
    <Rule Id="IDE0025" Action="Warning" />
    <Rule Id="IDE0026" Action="Warning" />
    <Rule Id="IDE0027" Action="Warning" />
    <Rule Id="IDE0028" Action="Warning" />
    <Rule Id="IDE0028WithoutSuggestion" Action="Warning" />
    <Rule Id="IDE0029" Action="Warning" />
    <Rule Id="IDE0029WithoutSuggestion" Action="Warning" />
    <Rule Id="IDE0030" Action="Warning" />
    <Rule Id="IDE0030WithoutSuggestion" Action="Warning" />
    <Rule Id="IDE0031" Action="Warning" />
    <Rule Id="IDE0031WithoutSuggestion" Action="Warning" />
    <Rule Id="IDE0032" Action="Warning" />
    <Rule Id="IDE0032WithoutSuggestion" Action="Warning" />
    <Rule Id="IDE0034" Action="Warning" />
    <Rule Id="IDE0034WithoutSuggestion" Action="Warning" />
    <Rule Id="IDE0035" Action="Warning" />
    <Rule Id="IDE0035WithoutSuggestion" Action="Warning" />
    <Rule Id="IDE0036" Action="Warning" />
    <Rule Id="IDE0036WithoutSuggestion" Action="Warning" />
    <Rule Id="IDE0037" Action="Warning" />
    <Rule Id="IDE0037WithoutSuggestion" Action="Warning" />
    <Rule Id="IDE0039" Action="Warning" />
    <Rule Id="IDE0039WithoutSuggestion" Action="Warning" />
    <Rule Id="IDE0040" Action="Warning" />
    <Rule Id="IDE0040WithoutSuggestion" Action="Warning" />
    <Rule Id="IDE0041" Action="Warning" />
    <Rule Id="IDE0041WithoutSuggestion" Action="Warning" />
    <Rule Id="IDE0042" Action="Warning" />
    <Rule Id="IDE0042WithoutSuggestion" Action="Warning" />
    <Rule Id="IDE0045" Action="Warning" />
    <Rule Id="IDE0045WithoutSuggestion" Action="Warning" />
    <Rule Id="IDE0046" Action="Warning" />
    <Rule Id="IDE0046WithoutSuggestion" Action="Warning" />
    <Rule Id="IDE0047" Action="Warning" />
    <Rule Id="IDE0048" Action="Warning" />
    <Rule Id="IDE0048WithoutSuggestion" Action="Warning" />
    <Rule Id="IDE0049" Action="Warning" />
    <Rule Id="IDE0049WithoutSuggestion" Action="Warning" />
    <Rule Id="IDE0050" Action="Warning" />
    <Rule Id="IDE0050WithoutSuggestion" Action="Warning" />
    <Rule Id="IDE0051" Action="Warning" />
    <Rule Id="IDE0052" Action="Warning" />
    <Rule Id="IDE0053" Action="Warning" />
    <Rule Id="IDE0053WithoutSuggestion" Action="Warning" />
    <Rule Id="IDE0054" Action="Warning" />
    <Rule Id="IDE0054WithoutSuggestion" Action="Warning" />
    <Rule Id="IDE0056" Action="Warning" />
    <Rule Id="IDE0056WithoutSuggestion" Action="Warning" />
    <Rule Id="IDE0057" Action="Warning" />
    <Rule Id="IDE0057WithoutSuggestion" Action="Warning" />
    <Rule Id="IDE0058" Action="Warning" />
    <Rule Id="IDE0059" Action="Warning" />
    <Rule Id="IDE0060" Action="Warning" />
    <Rule Id="IDE0061" Action="Warning" />
    <Rule Id="IDE0062" Action="Warning" />
    <Rule Id="IDE0062WithoutSuggestion" Action="Warning" />
    <Rule Id="IDE0063" Action="Warning" />
    <Rule Id="IDE0063WithoutSuggestion" Action="Warning" />
    <Rule Id="IDE0064" Action="Warning" />
    <Rule Id="IDE0065" Action="Warning" />
    <Rule Id="IDE0066" Action="Warning" />
    <Rule Id="IDE0066WithoutSuggestion" Action="Warning" />
    <Rule Id="IDE1005" Action="Warning" />
    <Rule Id="IDE1005WithoutSuggestion" Action="Warning" />
    <Rule Id="IDE1006" Action="Warning" />
    <Rule Id="IDE1006WithoutSuggestion" Action="Warning" />
    <Rule Id="RE0001" Action="Warning" />
    <Rule Id="RE0001WithoutSuggestion" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.Features" RuleNamespace="Microsoft.CodeAnalysis.Features">
    <Rule Id="IDE0010" Action="Warning" />
    <Rule Id="IDE0010WithoutSuggestion" Action="Warning" />
    <Rule Id="IDE0033" Action="Warning" />
    <Rule Id="IDE0033WithoutSuggestion" Action="Warning" />
    <Rule Id="IDE0044" Action="Warning" />
    <Rule Id="IDE0044WithoutSuggestion" Action="Warning" />
    <Rule Id="IDE0055" Action="Warning" />
    <Rule Id="IDE0055WithoutSuggestion" Action="Warning" />
  </Rules>
</RuleSet>